<footer id="footer">
    {{ if .Site.Social }}
        {{ partial "social.html" . }}
    {{ end }}
    <p class="small">
    {{ with .Site.Params.copyright }}
        {{ . | markdownify }}
    {{ else }}
       © Copyright {{ now.Format "2006"}} 
    {{ end }}
    </p>
    <p class="small">
               {{ .Site.Params.name }} <i class="fa fa-heart" aria-hidden="true"></i> 
 <a href="http://www.gohugo.io/">Hugo</a> 
        <br>
        Theme By <a href="https://github.com/nodejh/hugo-theme-cactus-plus">nodejh</a>
    </p>
</footer>
