<div class="profile">
    <section id="wrapper">
        <header id="header">
            <a href='{{ .Site.BaseURL }}about'>
                <img id="avatar" class="2x" src="{{ .Site.BaseURL }}images/profile.png"/>
            </a>
            <h1>{{ .Site.Params.name }}</h1>
            {{ with .Site.Params.bio }}<h2>{{ . | markdownify }}</h2>{{ end }}
        </header>
    </section>
</div>
